/* font-family: "SofiaProLight"; */
@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/sofiapro-light/sofiapro-light.eot");
  src: url("../fonts/sofiapro-light/sofiapro-light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/sofiapro-light/sofiapro-light.woff") format("woff"),
       url("../fonts/sofiapro-light/sofiapro-light.ttf") format("truetype"),
       url("../fonts/sofiapro-light/sofiapro-light.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }