@media screen and (max-width: 1899px) {

    /* LAYER-13 */
    .layer-13 {
        padding-top: 80px;
    }

    /* LAYER-14 */
    .layer-14 {
        padding-bottom: 80px;
    }
    .layer-14 .client-box img {
        width: 85%;
    }

}
@media screen and (max-width: 1199px) {

    /* LAYER-13 */
    .layer-13 h2 {
        font-size: 16px;
    }

    /* LAYER-14 */
    .layer-14 .client-box {
        width: 16.66%;
        height: 100px;
    }
}
@media screen and (max-width: 1023px) {

    /* LAYER-13 */
    .layer-13 {
        padding-top: 50px;
    }
    .layer-13 h2 {
        width: 650px;
    }
    .layer-13 .client-carousel {
        height: 375px;
    }
    .layer-13 .unslider-arrow {
        top: 200px;
    }

    /* LAYER-14 */
    .layer-14 {
        padding-bottom: 50px;
    }
    .layer-14 .client-box {
        height: 85px;
    }
    .layer-14 .small-text {
        font-size: 13px;
        line-height: 13px;
    }
}
@media screen and (max-width: 767px) {

    /* LAYER-13 */
    .layer-13 {
        padding: 30px 0;
    }
    .layer-13 h2 {
        width: 95%;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .layer-13 h3 {
        margin-bottom: 5px;
    }
    .layer-13 .client-carousel-item {
        padding: 25px 35px;
    }
    .layer-13 .client-carousel-item h4 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .layer-13 .client-carousel-item .description {
        display: none;
    }
    .layer-13 .client-carousel-item .address {
        line-height: 18px;
        padding: 0 15px;
    }
    .layer-13 .client-carousel {
        height: 200px;
    }
    .layer-13 .unslider-arrow {
        width: 15px;
        top: 100px;
        height: 30px;
        background-size: 100% ;
    }

    /* LAYER-14 */
    .layer-14 p {
        line-height: 20px;
        padding: 0 10px;
    }
    .layer-14 .client-box {
        width: 33.33%;
        height: 75px;
    }
    .layer-14 .client-box span {
        font-size: 13px;
        line-height: 13px;
    }
    .layer-14 {
        padding-bottom: 30px;
    }
}