.layer-15 {
    padding-bottom: 50px;
}
.layer-15 h3 {
    position: relative;
    font-family: 'SofiaProBlack', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 50px 0 10px;
    display: inline-block;
}
.layer-15 h3:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 102, 51, 0.95);
}
.layer-15 h4 {
    font-family: 'SofiaProBlack', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px 0;
}
.layer-15 p {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}