.layer-6 {
    padding: 50px 0 110px 0;
}
.layer-1 {
    background: url(../../images/map.png) no-repeat;
    background-position-x: 50%;
    background-position-y: 30px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    background-size: 90%;
}
.category-label-1-block {
    text-align: center;
    margin: 80px 50px 25px 50px;
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
}
.category-label-2-block {
    margin: 50px 0 120px 0;
}
.category-label-2-block .picture-block {
    background: url(../../images/industries/industries.png) no-repeat;
    background-color: transparent;
    background-position-y: center;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: 90%;
}
.category-label-2-block .label-block {
    padding: 0 75px 0 20px;
    line-height: 2;
}
.category-label-2-block .label-block p {
    margin: 20px 0;
    font-weight: 300;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}