.category-gray-label-block {
    background-color: rgb(247,247,247);
}
.category-gray-label-block .right-labels{
    margin-left: 100px;
}
.category-gray-label-block .right-labels span {
    margin-top: 85px;
    font-family: 'Hind', sans-serif;
}
.category-gray-label-block .left-labels h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'SofiaProBold', sans-serif;
    margin: 75px 0;
}
.category-gray-label-block .right-labels span {
    line-height: 31px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Hind', sans-serif;

}
.category-gray-label-block .right-labels p {
    line-height: 31px;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Hind', sans-serif;
    margin-bottom: 30px;
}
.category-team-block{
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;
}
.category-team-block h2 {
    margin-top: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}
.category-team-block p {
    margin-bottom: 110px;
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
}
.category-teammates-block {
    font-family: 'Hind Siliguri', sans-serif;
}
.category-teammates-block .photo {
    text-align: center;
    width: 100%;
}
.category-teammates-block .photo img {
    width: 55%;
    border-radius: 50%;
    margin-top: 5px;
}
.category-teammates-block .teammates-item {
    padding: 75px 0;
}
.category-teammates-block .photo-empty {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.category-teammates-block .photo-empty {
    background-color: rgb(44, 47, 50);
}
.category-teammates-block .photo-empty,
.category-teammates-block .photo,
.category-teammates-block .founder-name,
.category-teammates-block .name {
    display: inline-block;
}
.category-teammates-block .founder-name,
.category-teammates-block .name {
    vertical-align: top;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 10px;
}
.category-teammates-block .name span {
    opacity: 0.5;
}
.category-teammates-block .founder-name p,
.category-teammates-block .name p {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
}
.category-teammates-block .about {
    /*line-height: 40px;*/
    /*margin: 25px 30px 80px 70px;*/
    font-weight: 300;
    font-size: 16px;
}
.category-gray-label-block .right-labels {
    line-height: 2;
}
.category-teammates-block .gray-label {
    margin-bottom: 50px;
    line-height: 40px;
    font-weight: 300;
    font-size: 16px;
    padding: 50px 50px 50px 70px;
    background-color: rgb(247, 247, 247);
}