@media screen and (max-width: 1899px) {
    .layer-1 {
        background-position-y: 30px;
    }
}
@media screen and (max-width: 1199px) {
    .need-bottom-margin {
        margin-bottom: 0;
    }
    .category-label-2-block {
        margin: 30px 0 50px 0;
    }
    .category-label-2-block .label-block {
        padding: 0 20px;
        font-size: 14px;
    }
    .category-label-2-block .picture-block {
        background-position-y: 30%;
        background-size: 95%;
    }
}
@media screen and (max-width: 1023px) {
    .layer-1 {
        background-position-y: center;
    }
    .category-label-1-block,
    .category-label-2-block .label-block {
        line-height: 1.7;
    }
    .category-label-1-block {
        font-size: 16px;
        margin: 25px 0;
    }
    .category-label-2-block {
        margin-bottom: 20px;
    }
    .category-label-2-block .label-block {
        font-size: 12px;
    }
    .category-label-2-block .picture-block {
        height: 300px;
    }
}
@media screen and (max-width: 767px) {
    .layer-12 {
        margin-bottom: 30px;
    }
    .industries-body .layer-6 {
        margin: 10px 0 30px;
    }
    .category-label-1-block {
        margin: 25px 20px;
    }
    .category-under-block {
        padding-top: 0;
        display: table;
    }
    .need_to_center {
        display: table-cell;
        vertical-align: middle
    }
    .category-label-2-block .picture-block {
        background-size: 100%;
        height: 210px;
    }
    .category-label-2-block .label-block {
        text-align: center;
    }
    .category-label-2-block .label-block p {
        margin: 15px 0;
        font-size: 14px;
    }
}