@media screen and (max-width: 1899px) {

}

@media screen and (max-width: 1199px) {

    .multimedia .button-style-3:before {
        right: 50px;
    }
}

@media screen and (max-width: 1023px) {

    .multimedia .button-style-3:before {
        right: 30px;
        width: 126px;
    }
}

@media screen and (max-width: 767px) {

    .multimedia .button-style-3:before {
        right: 15px;
        width: 126px;
    }
}