.expertise .block-1,
.expertise .block-4 {
    width: 360px;
}
.expertise .block-2,
.expertise .block-5 {
    width: 345px;
}
.expertise .block-5 .info p {
    width: 335px;
}
.expertise .block-4 h3 {
    letter-spacing: -1px;
    width: 370px;
}
.expertise .category-map-block {
    padding: 15px 0;
}