.qa-technology .layer-8 .block {
    width: 400px;
}
.qa-technology .layer-8 .block-1 {
    float: right;
}
.qa-technology .layer-8 .block-2 {
    margin: 0 auto;
}
.qa-technology .layer-9 .button-style-3:before {
    width: 272px;
    right: 57px;
}