.expertise .block-2 .info p {
    width: 330px;
}
.expertise .block-5 .info p {
    width: 335px;
}
.expertise .block-4 h3 {
    letter-spacing: -1px;
    width: 370px;
}
.expertise .box .info span {
    color: rgb(72, 138, 150);
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    display: inline-block;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.expertise .info:hover > span {
    color: rgb(57, 109, 119);
}