.expertise .layer-2 {
    padding: 60px 0;
    background: #fff url(../../images/map.png) no-repeat 50%;
    background-size: 90%;
}
.layer-8 {
    padding: 80px 0;
}
.layer-8 .top-text {
    font-size: 16px;
    line-height: 36px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    color: #2c2f32;
    margin: 0 auto 60px;
    width: 1030px;
}
.layer-8 .title {
    height: 29px;
    margin: 20px 0;
}
.layer-8 .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.layer-8 .list {
    list-style: inherit;
    padding-left: 50px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    font-size: 16px;
}


/* LAYER-9 */
.layer-9 {
    margin-bottom: 125px;
}
.layer-9 h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0 50px;
}