/* CATEGORY-MAP */
.category-map-block .lists {
    padding: 0 250px;
}
.category-map-block .lists-item {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.category-map-block .lists-item-1 ul {
    padding-left: 125px;
}
.category-map-block .lists-item-2 ul {
    padding-left: 125px;
}
.category-map-block .lists-item-1 h3 {
    width: 240px;
    padding-left: 85px;
}
.category-map-block .lists-item-2 h3 {
    padding-left: 90px;
}
.category-map-block p {
    width: 815px;
}

/* BUTTON-STYLE-3 */
.button-style-3:after {
    width: 137px;
    right: 91px;
}

/* LAYER-9 */
.layer-9 {
    margin-bottom: 100px;
}
.layer-9 h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}