/* CATEGORY-MAP */
.category-map-block p {
    width: 900px;
}
.category-map-block .lists {
    padding: 0 150px;
}
.category-map-block .lists-item {
    float: left;
    box-sizing: border-box;
    width: 50%;
}
.category-map-block .lists-item ul {
    padding-left: 50px;
}
.category-map-block .lists-item-1,
.category-map-block .lists-item-3 {
    padding-left: 50px;
}
.category-map-block .lists-item-2 ul,
.category-map-block .lists-item-3 ul,
.category-map-block .lists-item-4 ul {
    float: left;
}
.category-map-block .lists-item-2 .second,
.category-map-block .lists-item-2 .third,
.category-map-block .lists-item-4 .second,
.category-map-block .lists-item-4 .third {
    padding-left: 60px;
}
.category-map-block .lists-item-4 .third li:last-child {
    margin: 4px 0;
    line-height: 17px;
}