/* CATEGORY-MAP */
.category-map-block .lists {
    padding: 0 222px;
}
.category-map-block .lists-item {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}
.category-map-block .lists-item ul {
    padding-left: 60px;
}
.category-map-block .lists-item-5 h3,
.category-map-block .lists-item-6 h3 {
    padding-left: 45px;
}
.category-map-block .lists-item-2 ul,
.category-map-block .lists-item-3 ul,
.category-map-block .lists-item-5 ul,
.category-map-block .lists-item-6 ul {
    padding-left: 100px;
}

/* LAYER-8 */
.layer-8 {
    margin-bottom: 100px;
}
.layer-8 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.layer-8 .left:after {
    width: 195px;
    right: 63px;
}
.layer-8 .right:after {
    width: 155px;
    right: 83px;
}