@media screen and (max-width: 1899px) {

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        margin: 20px 15px;
        padding: 20px 40px 20px 95px;
        line-height: 15px;
    }
    .button-style-3:before {
        width: 55px;
        line-height: 65px;
    }
}

@media screen and (max-width: 1199px) {

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 17px 35px 17px 85px;
        line-height: 15px;
    }
    .button-style-3:before {
        width: 50px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1023px) {

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        width: 185px;
        padding: 15px 30px 15px 75px;
        line-height: 15px;
        font-size: 13px;
    }
    .button-style-3:before {
        width: 45px;
        line-height: 55px;
    }
}

@media screen and (max-width: 767px) {

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        margin: 5px auto;
        width: 170px;
        padding: 14px 20px 14px 55px;
        line-height: 12px;
        font-size: 12px;
    }
    .button-style-3:before {
        width: 40px;
        line-height: 52px;
    }
}