@media screen and (max-width: 1899px) {
    .layer-8 .top-text {
        width: 900px;
    }
}

@media screen and (max-width: 1199px) {
    .mobile-applications .layer-9 .button-style-3:before {
        right: 55px;
    }
}

@media screen and (max-width: 1023px) {
    .mobile-applications .layer-9 .button-style-3:before {
        right: 40px;
        width: 130px;
    }
    .mobile-applications .layer-8 .top-text {
        width: 625px;
    }
    .mobile-applications .layer-8 .block {
        width: 310px;
    }
    .mobile-applications .layer-8 .block-2 .title {
        height: 58px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-applications .layer-8 .top-text {
        width: 100%;
    }
    .mobile-applications .layer-8 .block {
        width: 100%;
        float: none;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .mobile-applications .layer-8 .block-2 .title {
        width: 200px;
    }
    .mobile-applications .layer-9 .button-style-3 {
        width: 175px;
    }
}