@media screen and (max-width: 1899px) {
    .expertise .info h3 {
        letter-spacing: -1px;
    }
    .expertise .block-4 h3 {
        letter-spacing: -2px;
        line-height: 35px;
        width: 320px;
        font-size: 23px;
        margin: 24px 0;
    }
}

@media screen and (max-width: 1199px) {
    .expertise .block-2 .info p,
    .expertise .block-5 .info p {
        width: 100%;
    }
    .expertise .box h3 {
        height: 48px;
        margin-bottom: 0;
    }
    .expertise .block-4 h3 {
        letter-spacing: -1px;
        width: 250px;
        line-height: 24px;
        font-size: 24px;
        margin: 28px 0 0;
    }
}

@media screen and (max-width: 1023px) {
    .expertise .block-1,
    .expertise .block-2,
    .expertise .block-3,
    .expertise .block-4,
    .expertise .block-5,
    .expertise .block-6 {
        width: 270px;
    }
}

@media screen and (max-width: 767px) {
    .expertise .box .info {
        width: 135px;
    }
    .expertise .box h3 {
        height: 37px;
        font-size: 16px;
    }
    .expertise .block-4 h3 {
        margin-top: 17px;
        line-height: 17px;
        width: 100%;
    }
    .expertise .block-6 h3 {
        margin-top: 25px;
        line-height: 22px;
    }
    .expertise .block-1,
    .expertise .block-2,
    .expertise .block-3,
    .expertise .block-4,
    .expertise .block-5,
    .expertise .block-6 {
        width: 100%;
    }
    .expertise .box .info span {
        font-size: 12px;
    }
    .expertise .block-2:before {
        top: 172px;
    }
    .expertise .block-2:after {
        top: 110px;
    }
    .expertise .block-3:before {
        top: 175px;
    }
}