@media screen and (max-width: 1899px) {

    /* CATEGORY-MAP */
    .category-map-block .lists {
        margin-top: 25px;
    }
    .category-map-block h3 {
        margin-bottom: 15px;
    }
    .category-map-block .lists-item-5 h3 {
        padding-left: 60px;
    }
    .category-map-block .lists-item-6 h3 {
        padding-left: 95px;
    }
    .category-map-block .lists-item ul {
        padding-left: 30px;
    }
    .category-map-block .lists-item-2 ul,
    .category-map-block .lists-item-5 ul {
        padding-left: 90px;
    }
    .category-map-block .lists-item-3 ul,
    .category-map-block .lists-item-6 ul {
        padding-left: 125px;
    }

    /* LAYER-8 */
    .layer-8 .left:after {
        right: 43px;
    }
    .layer-8 .right:after {
        right: 63px;
    }
}

@media screen and (max-width: 1199px) {

    /* CATEGORY-MAP */
    .category-map-block .lists {
        padding: 0 100px;
    }
    .category-map-block p {
        font-size: 15px;
        line-height: 30px;
        width: 100%;
    }
    .category-map-block h3 {
        font-size: 20px;
    }
    .category-map-block ul {
        font-size: 15px;
    }

    /* LAYER-8 */
    .layer-8 {
        margin-bottom: 75px;
    }
    .layer-8 .left:after {
        right: 38px;
        bottom: 15px;
    }
    .layer-8 .right:after {
        right: 58px;
        bottom: 15px;
    }
}

@media screen and (max-width: 1023px) {

    /* CATEGORY-MAP */
    .category-map-block .lists {
        padding: 0 8px;
    }
    .category-map-block h3 {
        padding-left: 35px;
    }
    .category-map-block .lists-item-5 h3 {
        padding-left: 60px;
    }
    .category-map-block .lists-item-6 h3 {
        padding-left: 60px;
    }
    .category-map-block .lists-item-3 li:nth-child(6) {
        width: 90px;
        line-height: 20px;
    }
    .category-map-block .lists-item ul {
        padding-left: 75px;
    }
    .category-map-block .lists-item-2 ul,
    .category-map-block .lists-item-5 ul {
        padding-left: 105px;
    }
    .category-map-block .lists-item-3 ul,
    .category-map-block .lists-item-6 ul {
        padding-left: 105px;
    }

    /* LAYER-8 */
    .layer-8 {
        margin-bottom: 75px;
    }
    .layer-8 .left:after {
        width: 184px;
        right: 30px;
        bottom: 12px;
    }
    .layer-8 .right:after {
        width: 147px;
        right: 48px;
        bottom: 12px;
    }
}

@media screen and (max-width: 767px) {

    /* CATEGORY-MAP */
    .category-map-block p {
        padding: 0 10px;
        font-size: 14px;
        line-height: 22px;
        box-sizing: border-box;
        text-align: left;
    }
    .category-map-block .lists-item {
        width: 33.33%;
    }
    .category-map-block h3 {
        padding-left: 10px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .category-map-block .lists-item ul {
        padding-left: 25px;
        font-size: 12px;
    }
    .category-map-block .lists-item-5 h3,
    .category-map-block .lists-item-6 h3 {
        padding-left: 8px;
    }
    .category-map-block .lists-item-3 li:nth-child(6) {
        width: 70px;
        line-height: 16px;
    }
    .category-map-block .lists-item-2 ul,
    .category-map-block .lists-item-5 ul {
        padding-left: 25px;
    }
    .category-map-block .lists-item-3 ul,
    .category-map-block .lists-item-6 ul {
        padding-left: 25px;
    }

    /* LAYER-8 */
    .layer-8 {
        margin-bottom: 40px;
    }
    .layer-8 h3 {
        font-size: 15px;
        padding-left: 10px;
    }
    .layer-8 .button-style-3 {
        padding-left: 70px;
        padding-right: 40px;
    }
    .layer-8 .left:after {
        width: 171px;
        right: 40px;

    }
    .layer-8 .right:after {
        width: 135px;
        right: 58px;
        bottom: 12px;
    }
}