@media screen and (max-width: 1899px) {

    .graphic-design .layer-2 .block-2:before {
        width: 50px;
    }
    .graphic-design .layer-2 {
        padding: 40px 0;
    }
}

@media screen and (max-width: 1199px) {
    .graphic-design .layer-11 .text-top {
        padding: 0 10px;
    }
    .graphic-design .layer-2 .block-2:before {
        width: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .graphic-design .layer-11 .text-top {
        padding: 0 10px;
    }
    .graphic-design .layer-2 .block-1,
    .graphic-design .layer-2 .block-2,
    .graphic-design .layer-2 .block-3 {
        width: 300px;
    }
    .graphic-design .layer-2 .block-4 {
        width: 325px;
    }
    .graphic-design .layer-2 .block-4 ul {
        list-style: none;
        padding: 0;
    }
    .graphic-design .button-style-3:before {
        right: 29px;
        width: 127px;
    }
}

@media screen and (max-width: 767px) {
    .graphic-design .category-under-block {
        padding-top: 45px;
    }
    .graphic-design .category-under-block p {
        padding: 0 20px;
    }
    .graphic-design .category-under-block h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .graphic-design .layer-2 .block-1,
    .graphic-design .layer-2 .block-2,
    .graphic-design .layer-2 .block-3,
    .graphic-design .layer-2 .block-4 {
        width: 100%;
    }
    .graphic-design .layer-2 .block-4 {
        margin-bottom: 40px;
    }
    .graphic-design .layer-2 .info {
        width: 100%;
    }
    .graphic-design .layer-2 .box {
        margin: 40px 0 0;
    }
    .graphic-design .layer-2 .block-1:after,
    .graphic-design .layer-2 .block-1:before,
    .graphic-design .layer-2 .block-2:after,
    .graphic-design .layer-2 .block-2:before {
        display: none;
    }
    .graphic-design .layer-2 .block-4 ul {
        width: 250px;
        margin: 0 auto;
        margin-top: 14px;
    }
    .graphic-design .layer-2 {
        padding: 0;
    }
    .graphic-design .layer-2 p {
        display: block;
        padding: 0 10px;
    }
    .graphic-design .button-style-3:before {
        right: 15px;
        width: 124px;
        bottom: 12px;
    }
}