@media screen and (max-width: 1899px) {

    .graphic-design .layer-2 .block-2:before {
        left: -60px;
    }
    .graphic-design .layer-2 .block-2:after {
        left: -10px;
    }
    .graphic-design .layer-2 .block-4:before {
        top: -41px;
        width: 50px;
    }
    .graphic-design .layer-2 {
        padding: 40px 0;
    }
}

@media screen and (max-width: 1199px) {
    .graphic-design .layer-11 .text-top {
        padding: 0 10px;
    }
    .graphic-design .button-style-3:before {
        right: 49px;
    }
    .graphic-design .layer-2 .block-2:before {
        left: -45px;
    }
    .graphic-design .layer-2 .block-2:after {
        left: -15px;
    }
}

@media screen and (max-width: 1023px) {
    .graphic-design .layer-11 .text-top {
        padding: 0 10px;
    }
    .graphic-design .layer-2 .block-1,
    .graphic-design .layer-2 .block-2,
    .graphic-design .layer-2 .block-3 {
        width: 300px;
    }
    .graphic-design .layer-2 .block-4 {
        width: 325px;
    }
    .graphic-design .layer-2 .block-4 ul {
        list-style: none;
        padding: 0;
    }
    .graphic-design .layer-2 .block-4 ul li {
        float: left;
        padding-left: 5px;
    }
    .graphic-design .layer-2 .block-4:before {
        width: 30px;
    }
    .graphic-design .button-style-3:before {
        right: 29px;
        width: 127px;
    }
    .graphic-design .layer-2 .block-2:before {
        left: -30px;
    }
    .graphic-design .layer-2 .block-2:after {
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .graphic-design .category-under-block {
        padding-top: 45px;
    }
    .graphic-design .category-under-block p {
        padding: 0 20px;
    }
    .graphic-design .category-under-block h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .graphic-design .layer-2 .block-1,
    .graphic-design .layer-2 .block-2,
    .graphic-design .layer-2 .block-3,
    .graphic-design .layer-2 .block-4 {
        width: 100%;
    }
    .graphic-design .layer-2 .info {
        width: 125px;
    }
    .graphic-design .layer-2 .block-1 h3,
    .graphic-design .layer-2 .block-2 h3,
    .graphic-design .layer-2 .block-3 h3 {
        height: 40px;
        line-height: 40px;
    }
    .graphic-design .layer-2 .block-4 ul {
        display: none;
    }
    .graphic-design .layer-2 {
        padding: 0;
    }
    .graphic-design .layer-2 .block-2:before {
        top: 148px;
        left: -61px;
    }
    .graphic-design .layer-2 .block-2:after {
        top: 84px;
    }
    .graphic-design .button-style-3:before {
        right: 15px;
        width: 124px;
        bottom: 12px;
    }
}