@media screen and (max-width: 1899px) {

    .quality-assurance .layer-2 .block-2:before {
        width: 50px;
    }
    .quality-assurance .layer-2 {
        padding: 40px 0;
    }
}

@media screen and (max-width: 1199px) {
    .quality-assurance .layer-11 .text-top {
        padding: 0 50px;
    }
    .quality-assurance .button-style-3:before {
        right: 49px;
    }
    .quality-assurance .layer-2 .block-2:before {
        width: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .quality-assurance .layer-11 .text-top {
        padding: 0 10px;
    }
    .quality-assurance .layer-2 .block-1,
    .quality-assurance .layer-2 .block-2,
    .quality-assurance .layer-2 .block-3,
    .quality-assurance .layer-2 .block-4 {
        width: 275px;
    }
    .quality-assurance .layer-2 .block-4 ul {
        width: 300px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
    .quality-assurance .button-style-3:before {
        right: 29px;
        width: 251px;
    }
}

@media screen and (max-width: 767px) {
    .quality-assurance .layer-2 .block-1,
    .quality-assurance .layer-2 .block-2,
    .quality-assurance .layer-2 .block-3,
    .quality-assurance .layer-2 .block-4 {
        width: 100%;
    }
    .quality-assurance .layer-2 .block-4 {
        margin-bottom: 40px;
    }
    .quality-assurance .layer-2 .box {
        margin: 40px 0 0;
    }
    .quality-assurance .layer-2 .info {
        width: 100%;
    }
    .quality-assurance .layer-2 .block-4 ul {
        margin-top: 14px;
        width: 275px;
    }
    .quality-assurance .layer-2 .block-4 ul li:first-child {
        line-height: 15px;
        margin: 5px 0;
    }
    .quality-assurance .layer-2 p {
        display: block;
        padding: 0 10px;
    }
    .quality-assurance .layer-2 {
        padding: 0;
    }
    .quality-assurance .layer-2 .block-1:before,
    .quality-assurance .layer-2 .block-1:after,
    .quality-assurance .layer-2 .block-2:before,
    .quality-assurance .layer-2 .block-2:after {
        display: none;
    }
    .quality-assurance .button-style-3 {
        width: 160px;
        line-height: 15px;
    }
    .quality-assurance .button-style-3:before {
        right: 35px;
        width: 120px;
        bottom: 12px;
    }
    .quality-assurance .button-style-3:after {
        height: 54px;
        line-height: 65px;
    }
}