.category-send-message-block {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
.category-send-message-block .left-labels {
    padding: 15px 0 15px 0;
}
.category-send-message-block .left-labels p {
    font-weight: bold;
    margin: 5px 0;
}
.category-send-message-block .left-labels span {
    font-weight: normal;
}
.category-send-message-block .left-labels p,
.category-send-message-block .left-labels span {
    font-size: 16px;
}
.category-send-message-block .left-labels h2 {
    margin: 5px 0;
    font-size: 26px;
}
.category-send-message-block {
    padding: 65px 0 35px 0;
}
.category-send-message-block .right-labels .label-1 {
    padding: 28px 0;
}
.category-send-message-block .right-labels .label-1 h2 {
    font-size: 26px;
    margin-top: 13px;
}
.category-send-message-block {
    padding-top: 65px;
    padding-bottom: 45px;
}
.category-send-message-block .right-labels .label-1 p {
    margin: 3px 0;
}
.category-send-message-block .input-item {
    border-bottom: 1px solid rgb(204,204,204);
    margin-right: 40px;
    margin-bottom: 50px;
    width: 185px;
    float: left;
    box-sizing: border-box;
    display: inline;
}
.category-send-message-block .email-input,
.category-send-message-block .message-input{
    margin-right: 0;
}
.category-send-message-block .message-input {
    width: 100%;
    margin-bottom: 0;
}
.category-send-message-block .input-text,
.category-send-message-block .input-text::-webkit-input-placeholder,
.category-send-message-block .message-input .textarea {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.category-send-message-block .input-text {
    border: none;
    width: 100%;
}
[contentEditable=true]:empty:before,
.category-send-message-block .input-text::-webkit-input-placeholder{
    color: rgb(90, 90, 90);
}

/* SEND MESSAGE BLOCK, MESSAGE INPUT */

[contentEditable=true]:empty:before{
    display: block;
    content:attr(data-text);
}
.category-send-message-block .message-input .textarea {
    display:inline-block;
    overflow: auto;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 26px;
    max-height: 104px;
    overflow-y: hidden;
}

/* BUTTON2 STYLE */

.button-style-2 {
    position: relative;
    font-family: 'SofiaProRegular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    padding: 20px 50px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
}
.button-style-2 .first:before,
.button-style-2 .first:after,
.button-style-2 .second:after,
.button-style-2 .second:before {
    position: absolute;
    content: '';
    background-color: black;
    z-index: 1;
    transition: 0.5s;
}
.button-style-2 .first:before {
    bottom: 0;
    left: 0;
    height: 75%;
    width: 1px;
    box-shadow: 1px 0 1px black;
}
.button-style-2 .first:after {
    bottom: 0;
    left: 0;
    height: 1px;
    width: 92%;
    box-shadow: 0 -1px 1px black;
}
.button-style-2 .second:before {
    top: 0;
    right: 0;
    height: 75%;
    width: 1px;
    box-shadow: -1px 0 1px black;
}
.button-style-2 .second:after {
    top: 0;
    right: 0;
    height: 1px;
    width: 92%;
    box-shadow: 0 1px 1px black;
}
.category-send-message-block .button-style-2{
    float: right;
}
.category-send-message-block .label-2 {
    margin-top: 100px;
    text-align: right;
    float: right;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
.category-send-message-block .label-2 h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
}
.category-send-message-block .label-2 p {
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

.category-google-map {
    width: 100%;
    margin-bottom: 25px;
}
#map {
    height: 420px;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}