.product-management .layer-2 .block-1,
.product-management .layer-2 .block-2,
.product-management .layer-2 .block-3,
.product-management .layer-2 .block-4 {
    width: 400px;
    margin: 0 auto;
    float: inherit;
}
.product-management .layer-2 .block-3:after,
.product-management .layer-2 .block-3:before {
    display: none;
}
.product-management .layer-2 .block-4:before {
    top: -60px;
    right: 8px;
    height: 1px;
    width: 60px;
    position: absolute;
    content: '';
    background-color: rgba(201, 201, 201, 0.79);
}
.product-management .box ul {
    padding-left: 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.product-management .button-style-3:before {
    right: 60px;
    width: 290px;
}