.cloud-it .layer-2 .block-1,
.cloud-it .layer-2 .block-2,
.cloud-it .layer-2 .block-3,
.cloud-it .layer-2 .block-4 {
    width: 400px;
    margin: 0 auto;
    float: inherit;
}
.cloud-it .layer-2 .block-3:after,
.cloud-it .layer-2 .block-3:before,
.cloud-it .layer-2 .block-4:after,
.cloud-it .layer-2 .block-4:before {
    display: none;
}
.cloud-it .layer-2 .block-2:before {
    right: 8px;
    width: 60px;
}
.cloud-it .box ul {
    padding-left: 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.cloud-it .button-style-3:before {
    right: 60px;
    width: 158px;
}