.quality-assurance .layer-2 .block-1,
.quality-assurance .layer-2 .block-2,
.quality-assurance .layer-2 .block-3,
.quality-assurance .layer-2 .block-4 {
    width: 400px;
    margin: 0 auto;
    float: inherit;
}
.quality-assurance .layer-2 .block-3:after,
.quality-assurance .layer-2 .block-3:before,
.quality-assurance .layer-2 .block-4:after,
.quality-assurance .layer-2 .block-4:before {
    display: none;
}
.quality-assurance .layer-2 .block-2:before {
    right: 8px;
    width: 60px;
}
.quality-assurance .box ul {
    padding-left: 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.quality-assurance .button-style-3:before {
    right: 60px;
    width: 269px;
}