.graphic-design .layer-2 .block-1,
.graphic-design .layer-2 .block-2,
.graphic-design .layer-2 .block-3,
.graphic-design .layer-2 .block-4 {
    width: 425px;
    margin: 0 auto;
    float: inherit;
}
.graphic-design .layer-2 .block-3:after,
.graphic-design .layer-2 .block-3:before {
    display: none;
}
.graphic-design .layer-2 .block-4:before {
    top: -60px;
    right: 8px;
    height: 1px;
    width: 60px;
    position: absolute;
    content: '';
    background-color: rgba(201, 201, 201, 0.79);
}
.graphic-design .box ul {
    padding-left: 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.graphic-design .button-style-3:before {
    right: 60px;
    width: 135px;
}