.graphic-design .layer-2 .block-1,
.graphic-design .layer-2 .block-2,
.graphic-design .layer-2 .block-3,
.graphic-design .layer-2 .block-4 {
    width: 425px;
    margin: 0 auto;
    float: inherit;
}
.graphic-design .layer-2 .block-2:before {
    right: 8px;
    width: 60px;
}
.graphic-design .layer-2 .block-3:before,
.graphic-design .layer-2 .block-3:after,
.graphic-design .layer-2 .block-4:before,
.graphic-design .layer-2 .block-4:after {
    display: none;
}
.graphic-design .box ul {
    padding-left: 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.graphic-design .button-style-3:before {
    right: 60px;
    width: 135px;
}