.product-management .layer-2 .block-1,
.product-management .layer-2 .block-2,
.product-management .layer-2 .block-3,
.product-management .layer-2 .block-4 {
    width: 400px;
    margin: 0 auto;
    float: inherit;
}
.product-management .layer-2 .block-2:before {
    right: 8px;
    width: 60px;
}
.product-management .layer-2 .block-3:before,
.product-management .layer-2 .block-3:after,
.product-management .layer-2 .block-4:before,
.product-management .layer-2 .block-4:after {
    display: none;
}
.product-management .layer-2 .block-4 li:nth-child(1) {
    line-height: 21px;
    margin: 0 0 7px;
}
.product-management .box ul {
    padding: 2px 0 0 20px;
    list-style: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}
.product-management .button-style-3:before {
    right: 60px;
    width: 296px;
}