@media screen and (max-width: 1899px) {

    body {
        margin-top: 108px;
    }
    /* HEADER */
    .logo {
        width: 175px;
    }
    .navigation {
        margin-top: 18px;
    }

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 15px;
        padding: 20px 40px;
    }

    /* FOOTER */
    .footer-1 {
        height: 325px;
        background-size: 110%;
        background-image: url(../../images/footer_bgi.jpg);
        background-position-y: 60%;
        padding: 70px 0;
    }
    .footer-1 .label-1 {
        font-size: 31px;
    }
    .footer-1 .label-2 {
        font-size: 16px;
    }
    .footer-1:before {
        top: -2px;
        height: 40px;
    }
    .footer-2 ul:nth-child(3) {
        padding-left: 65px;
    }
}

@media screen and (max-width: 1199px) {

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 30px;
        padding: 25px 50px;
    }

    /* FOOTER */
    .footer-1:before {
        height: 30px;
    }
    .footer-2 a,
    .footer-2 label {
        letter-spacing: 0;
    }
    .footer-2 ul:nth-child(3),
    .footer-2 ul:nth-child(5) {
        padding-left: 55px;
    }

    .footer-2 ul:nth-child(5) label {
        letter-spacing: 1px;
    }

    .category-send-message-block .email-input {
        margin-right: 40px;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 17px 50px 18px 105px;
    }
    .button-style-3:before {
        bottom: 17px;
        right: 50px;
    }
    .button-style-3:after {
        width: 55px;
        height: 55px;
        line-height: 65px;
    }
}

@media screen and (max-width: 1023px) {

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 15px;
        padding: 15px 30px;
    }

    /* HEADER */
    body {
        margin-top: 73px;
    }
    .body-shadow:before {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 3;
    }
    header {
        padding: 15px 0;
    }
    .header-shadow:after {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 73px;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 3;
    }
    .logo {
        width: 125px;
    }
    #nav-bar {
        display: block;
        border: none;
        background-color: transparent;
        color: #468a95;
        font-size: 24px;
        float: right;
        margin-top: 10px;
    }
    #nav-bar-close {
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        left: 15px;
    }
    #nav-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 256px;
        height: 100vh;
        display: none;
        background-color: #fff;
        z-index: 5;
    }
    .navigation {
        width: 100%;
    }
    .navigation li {
        margin: 10px 0;
        float: none;
        text-align: center;
    }
    .navigation li a span {
        display: none;
    }

    /* FOOTER */
    .footer-1 {
        height: 250px;
        padding: 35px 0;
    }
    .footer-1:before {
        height: 25px;
    }
    .footer-1 .label-1 {
        font-size: 29px;
    }
    .footer-1 .label-2 {
        font-size: 15px;
    }
    .footer-2 {
        padding: 30px 0;
    }
    .footer-2 ul:nth-child(5) {
        padding-left: 8px;
        margin-top: 25px;
    }
    .footer-2 ul:nth-child(5) li {
        margin: 0;
        float: left;
        padding: 0 8px;
    }
    .footer-2 ul:nth-child(5) li:first-child {
        width: 160px;
        padding-left: 0;
    }
    .footer-2 ul:nth-child(5) li:nth-child(2) {
        width: 218px;
    }
    .footer-2 ul:nth-child(5) li:last-child {
        width: 223px;
        padding-left: 55px;
    }
    .footer-2 ul:nth-child(5) li i {
        margin-top: 0;
    }
    .category-send-message-block .right-labels .label-1 h2 {
        font-size: 20px;
    }

    /* CATEGORY-MAP-BLOCK */
    .category-map-block {
        padding: 30px 0;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 15px 30px 15px 85px;
        font-size: 13px;
    }
    .button-style-3:before {
        bottom: 15px;
    }
    .button-style-3:after {
        width: 50px;
        height: 50px;
        line-height: 60px;
    }
}

@media screen and (max-width: 767px) {

    /* HEADER */
    .logo {
        margin-left: 20px;
    }
    #nav-bar {
        margin-top: 8px;
        margin-right: 30px;
    }

    /* FOOTER */
    .footer-1 {
        height: 300px;
        background-size: 280%;
        background-position: 50% 60%;
        background-image: url(../../images/mobile/footer_bgi.jpg);
        padding: 35px 0 0;
    }
    .footer-1:before {
        background: url(../../images/mobile_sharp_line.png) no-repeat 0 100%;
        background-size: 100%;
        transform: none;
        z-index: 1;
    }
    .footer-1 .label-1 {
        font-size: 24px;
    }
    .footer-1 .label-2 {
        width: 240px;
        margin: 0 auto;
    }
    .footer-1 .label-3 {
        margin-top: 0;
    }
    .footer-1 .label-3 .button-style-1 {
        padding: 20px 45px;
    }
    .footer-2 {
        padding: 15px 0;
    }
    .footer-2 .row ul:first-child,
    .footer-2 .row ul:nth-child(2),
    .footer-2 .row ul:nth-child(3),
    .footer-2 .row ul:nth-child(4) {
        display: none;
    }
    .footer-2 ul:nth-child(5) {
        margin: 0;
    }
    .footer-2 ul:nth-child(5) li {
        width: 100% !important;
        padding: 10px 0 !important;
        text-align: center;
    }
    .footer-2 i {
        margin: 0 10px !important;
    }
    .footer-3 {
        height: auto;
        text-align: center;
        padding: 10px 0 30px;
    }
    .footer-3 .label-2 {
        float: none;
    }

    /* CATEGORY-IMG-BLOCK */
    .category-img-block {
        position: relative;
        height: 200px;
        background-size: 100%;
        background-image: url(../../images/mobile/category_bgi.png);
    }
    .category-under-block {
        padding-top: 65px;
    }
    .category-under-block p {
        font-size: 13px;
    }
    .category-under-block h1 {
        font-size: 34px;
        letter-spacing: -2px;
    }

    /* CATEGORY-MAP-BLOCK */
    .category-map-block {
        padding-bottom: 15px;
        background-size: 300%;
        background-position-y: 100%;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 12px 15px 13px 60px;
    }
    .button-style-3:after {
        width: 45px;
        height: 45px;
        line-height: 55px;
    }
}