@media screen and (max-width: 1899px) {

    body {
        margin-top: 117px;
    }
    /* HEADER */
    .logo {
        width: 200px;
    }
    .navigation {
        margin-top: 18px;
    }

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 15px;
        padding: 20px 40px;
    }

    /* FOOTER */
    .footer-1 {
        background-image: url(../../images/footer_bgi.jpg);
        padding: 70px 0;
        background-size: 155%;
    }
    .footer-1 .label-1 {
        font-size: 31px;
    }
    .footer-1 .label-2 {
        font-size: 16px;
    }
    .footer-1:before {
        top: -2px;
        height: 40px;
    }

    .category-img-block {
        height: 250px;
    }
    .category-img-block.about-img {
        background: url("../../images/about.png") no-repeat 50%;
        background-size: 135%;
    }
    .category-img-block.service-img {
        background: url("../../images/services.png") no-repeat 50%;
        background-size: 135%;
    }
    .category-img-block.tech-img {
        background: url("../../images/tech.png") no-repeat 50%;
        background-size: 135%;
    }
    .category-img-block.industr-img {
        background: url("../../images/industr.png") no-repeat 50%;
        background-size: 135%;
    }
}

@media screen and (max-width: 1499px) {
    .footer-1 {
        background-image: url(../../images/footer_bgi.jpg);
        background-size: 190%;
    }

    .category-img-block {
        height: 225px;
    }
    .category-img-block.about-img {
        background: url("../../images/about.png") no-repeat 50%;
        background-size: 155%;
    }
    .category-img-block.service-img {
        background: url("../../images/services.png") no-repeat 50%;
        background-size: 155%;
    }
    .category-img-block.tech-img {
        background: url("../../images/tech.png") no-repeat 50%;
        background-size: 155%;
    }
    .category-img-block.industr-img {
        background: url("../../images/industr.png") no-repeat 50%;
        background-size: 155%;
    }
}

@media screen and (max-width: 1199px) {

    body {
        margin-top: 108px;
    }
    /* HEADER */
    .logo {
        width: 175px;
    }

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 30px;
        padding: 25px 50px;
    }

    /* FOOTER */
    .footer-1 {
        background-image: url(../../images/footer_bgi.jpg);
        background-size: 220%;
    }
    .footer-1:before {
        height: 30px;
    }
    .footer-2 .first-ul,
    .footer-2 .second-ul {
        margin-bottom: 25px;
    }
    .footer-2 .first-ul li:nth-child(4) {
        text-align: center;
    }
    .footer-2 .first-ul li:nth-child(5),
    .footer-2 .first-ul li:nth-child(6),
    .footer-2 .first-ul li:nth-child(7) {
        text-align: right;
    }
    .footer-2 .second-ul li:first-child {
        text-align: left;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 17px 50px 18px 105px;
    }
    .button-style-3:before {
        bottom: 17px;
        right: 50px;
    }
    .button-style-3:after {
        width: 55px;
        height: 55px;
        line-height: 65px;
    }

    .category-img-block {
        height: 200px;
    }
    .category-under-block h1 {
        font-size: 40px;
    }
    .category-img-block.about-img {
        background: url("../../images/about.png") no-repeat 50%;
        background-size: 161%;
    }
    .category-img-block.service-img {
        background: url("../../images/services.png") no-repeat 50%;
        background-size: 161%;
    }
    .category-img-block.tech-img {
        background: url("../../images/tech.png") no-repeat 50%;
        background-size: 161%;
    }
    .category-img-block.industr-img {
        background: url("../../images/industr.png") no-repeat 50%;
        background-size: 161%;
    }
}

@media screen and (max-width: 1023px) {

    body {
        margin-top: 81px;
    }
    /* HEADER */
    .logo {
        width: 150px;
    }

    /* BUTTON STYLE */
    .button-style-1 {
        margin-top: 15px;
        padding: 15px 30px;
    }

    /* HEADER */
    body {
        margin-top: 81px;
    }
    .body-shadow:before {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 3;
    }
    header {
        padding: 15px 0;
    }
    .header-shadow:after {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 81px;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 3;
    }
    #nav-bar {
        display: block;
        border: none;
        background-color: transparent;
        color: #468a95;
        font-size: 24px;
        float: right;
        margin-top: 10px;
    }
    #nav-bar-close {
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        left: 15px;
    }
    #nav-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 256px;
        height: 100vh;
        display: none;
        background-color: #fff;
        z-index: 5;
    }
    .navigation {
        width: 100%;
    }
    .navigation li {
        margin: 10px 0;
        float: none;
        text-align: center;
    }
    /*.navigation li a span,*/
    .big-nav {
        display: none;
    }
    .navigation li a:hover span {
        width: 0;
    }
    .small-nav {
        display: block;
    }

    /* FOOTER */
    .footer-1 {
        background-image: url(../../images/footer_bgi.jpg);
        background-size: 360%;
        padding: 35px 0;
    }
    .footer-1:before {
        height: 25px;
    }
    .footer-1 .label-1 {
        font-size: 29px;
    }
    .footer-1 .label-2 {
        font-size: 15px;
    }
    .footer-1 .input-item {
        width: 100%;
    }

    .footer-2 .second-ul li {
        font-size: 14px;
    }
    .footer-2 .third-ul li {
        font-size: 12px;
    }

    .category-send-message-block .right-labels .label-1 h2 {
        font-size: 20px;
    }

    /* CATEGORY-MAP-BLOCK */
    .category-map-block {
        padding: 30px 0;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 15px 30px 15px 85px;
        font-size: 13px;
    }
    .button-style-3:before {
        bottom: 15px;
    }
    .button-style-3:after {
        width: 50px;
        height: 50px;
        line-height: 60px;
    }

    .category-img-block {
        height: 175px;
    }
    .category-under-block h1 {
        font-size: 30px;
    }
    .category-img-block.about-img {
        background: url("../../images/about.png") no-repeat 50%;
        background-size: 190%;
    }
    .category-img-block.service-img {
        background: url("../../images/services.png") no-repeat 50%;
        background-size: 190%;
    }
    .category-img-block.tech-img {
        background: url("../../images/tech.png") no-repeat 50%;
        background-size: 190%;
    }
    .category-img-block.industr-img {
        background: url("../../images/industr.png") no-repeat 50%;
        background-size: 190%;
    }
}

@media screen and (max-width: 767px) {

    body {
        margin-top: 73px;
    }

    /* HEADER */
    .logo {
        width: 125px;
        margin-left: 20px;
    }
    #nav-bar {
        margin-top: 8px;
        margin-right: 30px;
    }
    .header-shadow:after {
        height: 73px;
    }

    /* FOOTER */
    .footer-1 {
        height: auto;
        background: #fff url(../../images/mobile/footer_bgi.jpg) no-repeat 34% 60%;
        background-size: 760%;
        padding: 35px 0;
    }
    .footer-1 form {
        padding: 0 8px;
        /*display: none;*/
    }
    .footer-1:before {
        background: url(../../images/mobile_sharp_line.png) no-repeat 0 100%;
        background-size: 100%;
        transform: none;
        z-index: 1;
    }
    .footer-1 .label-1 {
        display: none;
        margin: 0;
        font-size: 24px;
    }
    .footer-1 form {
        height: 0;
        overflow: hidden;
        transition: 1s;
    }
    .footer-1.active form {
        margin-top: 30px;
        height: auto;
    }
    .footer-1 .label-2 {
        width: 240px;
        margin: 0 auto;
    }
    .footer-1 .label-3 {
        margin-top: 0;
    }
    .footer-1 .label-3 .button-style-1 {
        padding: 20px 45px;
    }
    .footer-1 #contact-mobile {
        display: block;
    }

    .footer-2 {
        padding: 30px 0 50px;
    }
    .footer-2 .first-ul {
        width: 96%;
        display: inline-block;
        margin-bottom: 30px;
    }
    .footer-2 .first-ul li,
    .footer-2 .second-ul li {
        width: 100%;
        display: block;
        float: left;
        text-align: center !important;
    }
    .footer-2 .first-ul li {
        margin-bottom: 5px;
    }
    .footer-2 .second-ul {
        display: block;
        margin-bottom: 30px;
    }
    .footer-2 .second-ul li {
        font-size: 14px;
        width: 100%;
        text-align: center !important;
    }
    .footer-2 .third-ul {
        padding-bottom: 80px;
        display: block;
        position: relative;
    }
    .footer-2 .third-ul li {
        display: block;
        width: 100%;
        font-size: 13px;
        text-align: center !important;
        margin-bottom: 0;
        float: right;
    }
    .footer-2 .third-ul li:first-child {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .footer-2 .third-ul li:last-child {
        position: absolute;
        left: 0;
        bottom: 35px;
    }

    /* CATEGORY-IMG-BLOCK */
    .category-img-block {
        position: relative;
        height: 200px;
        background-size: 100%;
        background-image: url(../../images/mobile/category_bgi.png);
    }
    .category-under-block p {
        font-size: 13px;
    }
    .category-under-block h1 {
        font-size: 25px;
        letter-spacing: 0;
    }

    /* CATEGORY-MAP-BLOCK */
    .category-map-block {
        padding-bottom: 15px;
        background-size: 300%;
        background-position-y: 100%;
    }

    /* BUTTON-STYLE-3 */
    .button-style-3 {
        padding: 12px 15px 13px 60px;
    }
    .button-style-3:after {
        width: 45px;
        height: 45px;
        line-height: 55px;
    }

    .category-img-block {
        height: 150px;
    }
    .category-img-block.about-img {
        background: url("../../images/about.png") no-repeat 50%;
        background-size: 355%;
    }
    .category-img-block.service-img {
        background: url("../../images/services.png") no-repeat 35% 50%;
        background-size: 355%;
    }
    .category-img-block.tech-img {
        background: url("../../images/tech.png") no-repeat 58% 50%;
        background-size: 355%;
    }
    .category-img-block.industr-img {
        background: url("../../images/industr.png") no-repeat 35% 50%;
        background-size: 355%;
    }
}