@media screen and (max-width: 1899px) {

    .category-img-block.articles {
        background: url("../../../images/articles.png") no-repeat 50%;
        background-size: 160%;
    }
    .articles .category-under-block h1 {
        font-size: 35px;
    }
    .article-item .medium-width {
        width: 800px;
        margin: 30px auto;
    }
    .article-item p {
        margin: 15px 0;
        font-size: 16px;
        line-height: 22px;
    }

}
@media screen and (max-width: 1199px) {

    .category-img-block.articles {
        background: url(../../../images/articles.png) no-repeat 50%;
        background-size: 190%;
    }
    .articles .category-under-block h1 {
        font-size: 30px;
    }

}
@media screen and (max-width: 1023px) {

    .category-img-block.articles {
        background: url(../../../images/articles.png) no-repeat 50%;
        background-size: 250%;
    }
    .articles .category-under-block h1 {
        font-size: 25px;
    }
    .article-item .medium-width {
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
    }
    .article-item p {
        margin: 12px 0;
        font-size: 14px;
        line-height: 20px;
    }
    .article-item .max-width > div {
        width: 100%;
    }
    .article-item .image {
        margin: 10px 0;
    }

}
@media screen and (max-width: 767px) {

    .article-item.clearfix {
        margin: 10px 0;
    }
    .category-img-block.articles {
        background: url(../../../images/articles.png) no-repeat 50%;
        background-size: 370%;
    }
    .article-item .row > div {
        padding: 0 16px;
    }
    .articles .category-under-block h1 {
        font-size: 16px;
        letter-spacing: 0px;
        width: 300px;
        margin: 0 auto;
    }
    .article-item h3 {
        font-size: 16px;
    }
    .article-item .category-under-block p:last-child {
        margin-top: 0;
    }
}